:root{
    --color-primary: rgb(133,91,200);
    --color-secondary: rgb(3,4,1);
    --color-accent: rgb(172,144,218);
    --color-text: rgb(239,246,228);
    --color-back: rgb(9,11,4);

}
* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: var(--scroll-padding);
}
html,body{
    font-size: 62.5%;
    font-family: Inter;
    height: 100%;

}
body{
    margin: 0;
    background: #fff;
}

/*navigation*/


.navigation-desk{
    height: 8rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 11;


}

.list-desk-container {
    height: 8rem;
}
.list-desk{
    
    display: flex;
    height: 8rem;
    align-items: center;
    border-bottom: 1px solid var(--color-accent);
    padding: 1rem;
    background: var(--color-back);
    margin-bottom: 5rem;
 
}
ul{
    margin: 0;
}

.heading,.home-heading{
    margin-right: 6rem;
    font-size: 2.5rem;
    display: inline;
    color: var(--color-text)
}


li{
    display: inline;
    list-style-type: none;
    margin-right: 3rem;
}

.items-desk{
    font-size: 2rem;
    margin-right: 2.5rem;
    display: none;
    color: var(--color-text)

}
.items-desk:visited{
    color: var(--color-text);
}
.items-desk:hover{
    cursor: pointer;
    color: var(--color-accent);

}


.mobile-container{
    z-index: 11;
    position: fixed;
    left: 75rem;
    width: 180px;
    height: 168px;
    transition: all 0.2s linear;

}

.list-mobile{
    display:flex;
    flex-direction: column;
    padding: 1rem;
    background-color: var(--color-back);
    border-radius: 5px;

}
.active{
    left: 50rem;
}
.blurry{
    z-index: 10;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #2b2a39b3;
    backdrop-filter: blur(5px);
    display: none;
}

i:hover{
    cursor: pointer;
}
.items-mobile {
    text-decoration: none;
    font-size: 3rem;
    margin: .5rem 0;
    width: 100%;
    padding-left: 1rem;
    border-radius: 5px;
    background: rgba(201, 193, 193, 0.2);
    color: var(--color-text);

}

.items-mobile:hover {
    background-color: var(--color-accent);
}
.icon{
    display: inline;
}
ul > a:first-child{
    margin-top: 1.5rem;
}

i {
    margin-right: 1.5rem;
    float: right;
}


@media  (min-width: 768px){
    .items-desk{
        display: contents;
        
    }

    .mobile-nav{
        display: none;
    }
    .list-mobile{
        display: none;
    }
    .blurry{
        display: none;
    }
    .icon{
        display: none;
    } 
    .home{
        display: contents;
    }
    
}



/*Projects*/

.container {
    display: flex;
    justify-content: center;
}

#pro{
    margin-top: 9rem;
    margin: 0 5rem;
    display: grid;
    gap: 8rem;
    width: 60rem;
    
}





img{
    height: 250px;
    width: 380px;
}
.gridItem{
    background-color: rgba(201, 198, 198, 0.1);
    color: var(--color-text);
    padding: 1rem;
    height: 40rem;
    border-radius: 10px;



}

h2{
    font-size: 2rem;
    text-align: center;
}

.gridItem:first{
    margin-top:9rem;
}


.gridItem > a{
    display: inline-block;
    color: var(--color-accent);
    margin-top: 1rem;
    text-align: center;
    padding:1rem 0 1rem 0;
    width:100%;
    font-size: 1.5rem;
    border-radius: 5px;
    text-decoration: none;
    background-color: var(--color-back);

}

.iconWhite {
    color: white;
}
.gridItem > h2 {
    color: var(--color-back)
}

.gridItem > img{
    display: block;

    height: 250px;
    width: 380px;
    border-radius: 5px;
}

.gridItem > a:hover{
    color:var(--color-text);
    background-color: var(--color-back);
}
@media (min-width: 600px) {
    .project-container { grid-template-columns: repeat(1, 1fr); }
  }

@media (min-width: 1000px) {
.project-container { grid-template-columns: repeat(1, 1fr); }
}

@media (max-width: 390px){
    .navigation-desk{
        width: 390px;
    }
    .list-desk > h1,li {
        margin-right: 0;

    }


    .gridItem{

        height: 41.5rem;
        padding: 0;

    }
    .gridItem > img{
        width: 380px;
    }
}

@media ((min-width: 391px) and (max-width:768px)){
    .gridItem > h1,li{
        margin-right: 0;
    }
    .gridItem {
        height: 42.5rem;
        padding: 0;
    }
    .gridItem > img {
        width: 380px;
    }
}

@media (min-width: 768px){
    .gridItem {
        height: 42.5rem;
        padding: 0;
    }
}

/*Home*/



.home-heading{
    text-align: center;
    display: block;
    margin-right: 0;
    font-size: 4rem;
}
.home-inner {
    display: flex;
    align-items: center;
    margin-bottom: 5rem;
    height: 100%;
    background-color: var(--color-back);

}
.name{
    color: var(--color-accent);
}
.home-text > h2{
    font-size: 2.5rem;
}
.home-text > h2,p{
    color: var(--color-text);
    text-align: center;

}

.home-text  > p {
    font-size: 2rem;
    margin: 0 30rem;
    line-height: 3.5rem;
}

@media (max-width:780px) {
    .home-text > p {
        margin: 0 2rem;
    }
    .project-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .list-desk{
        justify-content: space-between;
    }
    
}

@media (min-width: 390px) and (max-width: 768px) {
    .home-inner > p {
        width: 100%;
        margin: 0;
    }
}

@media (min-width: 768px) and (max-width: 1250px) {
    .home-inner > p {
        margin: 0 10rem;
    }
}

@media (max-width: 768px){
    .home-inner{
        margin-top: 9rem;
        height: 100vh;
    }

}

.skills{
    margin-top: 9rem;
}
.skillIcons{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    justify-items: center;


}
.skillIcons img {
    height: 8rem;
    width: 8rem;
    padding: 1rem;
    background: rgba(201, 198, 198, 0.1);
    border-radius: 5px;
    margin: 3rem 0;
}

.skilltitle > h1{
    color: var(--color-back);
    font-size: 6rem;
    display: block;
    margin-left: 25rem;

}



/*Hero cards*/


.project-img, .project-desc {
    display: inline;
    margin: 2rem;

    background: var(--color-secondary);
    border-radius: 5px;

}

.project-img > img{
    border-radius: 5px;
}

.project-links {
    display: flex;
    justify-content: center;
    align-items: center;
}


#web, #git {
    width: 13rem;
    font-size: 2rem;
    margin: 0rem 3rem;
    text-align: center;
    padding: .5rem 0;
    border: none;
    border-radius: 25px;
    background-color: var(--color-secondary);
    outline: 1.5px solid #fff;
    outline-offset: -5px;
}

a {
    text-decoration: none;
    color: var(--color-text);
}

#web:hover, #git:hover {
    background-color: var(--color-accent);

}

.hero-container {
    display: flex;
    justify-content: space-around;
}